body {
    background-image: url('../uploads/background/background.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
}
/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners of the thumb */
    border: 3px solid #555; /* Border around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }
  
  /* Firefox */
  scrollbar {
    width: 12px;
  }
  
  scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #555;
  }
  
  scrollbar-track {
    background: #f1f1f1;
  }
  
.user-profile a{
    text-decoration: none;
    color:white;
}
html {
    scroll-behavior: smooth;
}

.dark-bg {
    background-color: #333; /* Dark background color */
    color: #000000; /* Light text color for better visibility */
}
#gameModal .modal-body {
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background: url('bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}
/* Style to adjust video size */
#gameModal video {
    max-width: 100%;
    height: auto;
}
.card {
    box-shadow: 0px 0px 10px .2px solid black;
    background-color: #1d1d1d;
    color:white;
    margin-bottom: 20px;
    overflow: hidden; /* Ensure video doesn't overflow outside the card */
}

.card video {
    width: 100%; /* Make the video fill the entire width of the card */
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* Cover the entire card */
}
.page2,.page3{
    display: none;
}
.announcement-details {
    padding: 20px;
    position: relative; /* Position for absolute title */
}

.card-title {
    position: absolute;
    top: 10px;
    left: 10px;
}
.game-announcement .row{
    background-color: rgb(52, 52, 52);
    height: 800px;
    overflow-y: scroll;
    padding: 10px;
}
.game-announcement{
    margin-top: 20px;
    padding: 20px;
    left: 0;
  
}
.title h1 {
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-list {
    padding: 50px;
    margin-top: 200px;
}

.container-fluid {
    background-color: rgba(31, 31, 31, 0.76);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.header_links ul li:hover {
    color: red;
}

.header_links ul li {
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}
.col-sm-3{
    margin-top: 30px;
}
#browse-btn {
    cursor: pointer;
    padding: 0px;
    width: 20%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
}

#description button {
    background-color: rgb(82, 189, 82);
    color: white;
    border: none;
    width: 30%;
}

#description {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.gtav {
    display: block;
    transition: 1s;
    cursor: pointer;
}

.ass {
    cursor: pointer;
    width: fit-content;
    transition: 1s;
}

.ass:hover {
    transform: scale(1.1, 1.1);
}

.gtav:hover {
    transform: scale(1.1, 1.1);
}

#browse-btn:hover {
    background-color: white;
    color: black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: -10px;
    right: 0;
    
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.about {
    line-height: 15px;
    color: white;
    display: block;
    margin-top: 180px;
    font-size: 22px;
    padding: 10px;
}

.container-browse {
    display: flex;
    justify-content: space-around;
}

.user-profile p:hover {
    color: red;
}

.user-profile {
    cursor: pointer;
    padding: 10px;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

.list-game2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.list-games {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.header_links {
    margin-left: -70px;
}

.header_links ul {
    display: flex;
    list-style-type: none;
}
.search-container img{
    filter: brightness(1);
}
.search-container {
    left: 0;
    padding: 0px;
    margin-top: -10px;
    margin-left: -10px;
}

#search {
    margin-top: 55px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    width: 50%;
}
